body{
    background-color: bisque;
	font-weight: 400;
}


h1{
    color: cadetblue;
}

/* button{
    text-decoration: none;
    border: none;
    text-align: center;
    background-color: blanchedalmond;
} */